
<h3>Key</h3>

<ul>
<li><p><dfn>Difficulty terms</dfn> like “Regular” and vague qualifiers like “Fall-plus” or “Regular-minus” are non-standard and confusing and should be deprecated (<a href="http://hsquizbowl.org/forums/viewtopic.php?f=9&amp;t=21177">read more</a>). This site uses the following four-level scale:</p>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Difficulty</th>
            <th>Example (non-definitional)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>●</td>
            <td>Easy</td>
            <td><a href="http://collegiate.quizbowlpackets.com/2040/">ACF Fall 2017</a></td>
        </tr>
        <tr>
            <td>●●</td>
            <td>Medium</td>
            <td><a href="http://collegiate.quizbowlpackets.com/2048/">EFT 2017</a></td>
            <td rowspan="3" style="color: #999;">old “Regular difficulty”?</td>
        </tr>
        <tr>
            <td>●●◖</td>
            <td></td>
            <td><a href="http://collegiate.quizbowlpackets.com/1872/">Terrapin 2016</a></td>
        </tr>
        <tr>
            <td>●●●</td>
            <td>Regionals</td>
            <td><a href="http://collegiate.quizbowlpackets.com/2108/">ACF Regionals 2018</a></td>
        </tr>
        <tr>
            <td>●●●●</td>
            <td>Nationals</td>
            <td><a href="http://collegiate.quizbowlpackets.com/2139/">ACF Nationals 2018</a> and above</td>
        </tr>
    </tbody>
</table>
</li>

<li><p><dfn>Question marks</dfn> (as in “NAQT Collegiate Novice??”) indicate degree of guesswork/uncertainty because no information/announcement has been posted yet.</p></li>

<li class="ebol"><p><dfn>EBOL</dfn> is an upcoming “detailed stats league” for college quizbowl. The idea for EBOL is that participating sets will cooperate with Ophir and conform to a relatively consistent direction (such as distribution, difficulty, eligibility, rules, and format). At the end of the regular season, <a href="https://qbwiki.com/wiki/Detailed_stats">detailed stats</a> from all tournaments will be compared and outstanding achievements will be recognized.</p></li>
</ul>
