
<h3>Key</h3>

<p>Difficulty terms like “Regular” and vague qualifiers like “Fall-plus” or “Regular-minus” are non-standard and confusing and should be deprecated (<a href="http://www.hsquizbowl.org/forums/viewtopic.php?f=9&amp;t=21177">read more</a>). This site uses the following four-level scale:</p>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Difficulty</th>
            <th>Example (non-definitional)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>●</td>
            <td>Easy</td>
            <td><a href="http://collegiate.quizbowlpackets.com/2040/">ACF Fall 2017</a></td>
        </tr>
        <tr>
            <td>●●</td>
            <td>Medium</td>
            <td><a href="http://collegiate.quizbowlpackets.com/2048/">EFT 2017</a></td>
        </tr>
        <tr style="color: #999;">
            <td>●●◖</td>
            <td>old “Regular”?</td>
            <td><a href="http://collegiate.quizbowlpackets.com/1872/">Terrapin 2016</a></td>
        </tr>
        <tr>
            <td>●●●</td>
            <td>Regionals</td>
            <td><a href="http://collegiate.quizbowlpackets.com/2108/">ACF Regionals 2018</a></td>
        </tr>
        <tr>
            <td>●●●●</td>
            <td>Nationals</td>
            <td><a href="http://collegiate.quizbowlpackets.com/2139/">ACF Nationals 2018</a> and above</td>
        </tr>
    </tbody>
</table>

<p>Question marks (as in “NAQT Collegiate Novice??”) indicate degree of guesswork/uncertainty because no information/announcement has been posted yet.</p>
