
<h3 id="key"><a href="#key">Key</a></h3>

<ul>
<li><p><dfn>Difficulty</dfn> is rated on the following four-level scale. <a href="/difficulty-scale/">Read more about the difficulty scale here.</a></p>

{% include scale.html %}
</li>

<li><p><dfn>Question marks</dfn> (as in “NAQT Collegiate Novice??”) indicate degree of guesswork/uncertainty because no information/announcement has been posted yet.</p></li>

<li><p><dfn>Summary</dfn> displays all of the season’s known tournaments at a glance, binned by week. All information is subject to change. Symbols: º = at least one <u>o</u>nline mirror; ª = at least one mirror not on Saturd<u>a</u>y; * = at least one cancelled mirror; ˘ = at least one mirror with exceptional eligibility; † = <span class="clear pad">set content is not confirmed clear until at least this week</span>; <span class="active pad">active mirror period</span>; <span class="ideal pad">ideal mirror period</span> (or “preferred mirroring window”); <span class="playtest pad">PT = early online playtest mirror</span>; <b>bold</b> = at least 5 mirrors during this week; <time style="width: auto;" class="late" data-late="Nw">date</time> = date is N weeks after the first mirror. Totals do not count cancelled or TBD mirrors, and “mainstream mirrors” of college quizbowl do not count high school or online mirrors.</p></li>

<!-- <li class="ebol"><p><dfn>EBOL</dfn> is an inchoate idea for a “detailed stats league” for college quizbowl. The idea for EBOL is that participating sets will cooperate with Ophir and conform to a relatively consistent direction (such as distribution, difficulty, eligibility, rules, and format). At the end of the regular season, <a href="https://qbwiki.com/wiki/Detailed_stats">detailed stats</a> from all tournaments will be compared and outstanding achievements will be recognized. Please email Ophir if you want to help organize EBOL.</p></li> -->
</ul>
