<table>
    <thead>
        <tr>
            <th rowspan="2" style="min-width: 5em;">Fruits</th>
            <th rowspan="2">Difficulty</th>
            <th colspan="3">Difficulty is most comfortable for</th>
            <th rowspan="2">Example (non-definitional)</th>
        </tr>
        <tr style="font-size: smaller;">
            <th>Beginners</th>
            <th>Intermediates</th>
            <th>Experts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span title="●"><img src="/assets/img/fruit1.svg" height="18" /></span></td>
            <td>Blueberry</td>
            <td>✓︎</td><td>✓︎</td><td></td>
            <td><a href="https://collegiate.quizbowlpackets.com/2040/">2017 ACF Fall</a></td>
        </tr>
        <tr>
            <td><span title="●●"><img src="/assets/img/fruit2.svg" height="18" /><img src="/assets/img/fruit2.svg" height="18" /></span></td>
            <td>Kiwi</td>
            <td>✓︎</td><td>✓︎</td><td>✓︎</td>
            <td><a href="https://collegiate.quizbowlpackets.com/2546/">2020 ACF Winter</a> or 
                <a href="https://collegiate.quizbowlpackets.com/2048/">2017 EFT</a></td>
        </tr>
        <tr>
            <td><span title="●●●"><img src="/assets/img/fruit3.svg" height="18" /><img src="/assets/img/fruit3.svg" height="18" /><img src="/assets/img/fruit3.svg" height="18" /></span></td>
            <td>Pomegranate</td>
            <td>︎</td><td>✓</td><td>✓︎</td>
            <td><a href="https://collegiate.quizbowlpackets.com/2108/">2018 ACF Regionals</a></td>
        </tr>
        <tr>
            <td><span title="●●●●"><img src="/assets/img/fruit4.svg" height="18" /><img src="/assets/img/fruit4.svg" height="18" /><img src="/assets/img/fruit4.svg" height="18" /><img src="/assets/img/fruit4.svg" height="18" /></span></td>
            <td>Grapefruit</td>
            <td>︎</td><td>︎</td><td>✓︎</td>
            <td><a href="https://collegiate.quizbowlpackets.com/2139/">2018 ACF Nationals</a> and above</td>
        </tr>
    </tbody>
</table>
