---
---

$content-width: 100%;
$on-palm : 600px !default;
$on-laptop : 100% !default;

$spacing-unit: 24px;

$base-font-family:
// ".SFNSDisplay-Light",
// ".SFNSText-Light",
-apple-system,
BlinkMacSystemFont,
"SF Text",
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;


$text-color : #000 !default;
$background-color: #fdfdfd !default;
$brand-color : #2a7ae2 !default;

@import "{{ site.theme }}";
@import "fonts.scss";

body {
    text-decoration-skip-ink: none;
}

.site-title {
    letter-spacing: 0px;
}
// .site-header {
//     border-color: $brand-color;
//     background-color: lighten(desaturate($brand-color, 10%), 30%);
// }

.footnotes {
    margin-top: 4em;
    padding-top: 2em;
    border-top: 1px solid #888;
}

table {
    width: auto;

    tr {
        &:nth-child(even) {
            background-color: inherit;
        }
    }

    th[rowspan] + th[colspan] {
        border-bottom: 0;
        padding-bottom: 2px;
    }
    thead tr + tr th {
        border-top: 0;
        padding-top: 2px;
    }
}

table.summary {
    width: max-content;
    table-layout: fixed;
    thead th, tfoot th {
        font-weight: 500;
    }
    thead th:not([style]) {
        width: 2.4375em;
        // hack to break short dates like 'Apr 1' onto
        // two lines without narrowing the cell width
        word-spacing: 0.1em;
    }
    th,
    td {
        padding: 4px 8px;
    }
    .strong td, th.strong {
        font-weight: 900;
    }
    col.newMonth {
        background: linear-gradient(to right, #f3f3f3 0%, transparent 0.5em);
    }
}
.active   { background: #f3f5ff; }
.ideal    { background: #e8e3ff; }
.playtest { background: #e6fadd; }
.clear    { background: #f5e7e9; }
.pad { padding: 0.15em 0.3em; }

table.season {
    width: auto;
    th,
    td {
        vertical-align: top;
    }
    td {
        min-width: 12.5em;
        width: 12.5em; // max-width: 15em;
    }
    th {
        min-width: 12.5em;
        width: 12.5em;
        font-weight: 500;
    }
    .strong td, th.strong {
        font-weight: 900;
    }
    tr {
        &:nth-child(even) {
            background-color: inherit;
        }
    }

    thead, tbody {
        display: block;
    }
    tbody.mirrors {
        // background: #f3f5ff;
        margin: 0 0;
        max-height: 312px;
        /* Just for the demo          */
        overflow-y: auto;
        /* Trigger vertical scroll    */
        overflow-x: hidden;
        /* Hide the horizontal scroll */
        th {
            // background: darken(#f3f5ff, 3%);

            // text-indent: 1em;
        }
    }
    th:hover .pin,
    th .pin[data-toggle="toggle"] {
        visibility: visible
    }
    .pin {
        display: inline-block;
        width: 1.375em;
        text-decoration: none;
        visibility: hidden;
    }
    .pin:link, .pin:visited {
        color: inherit;
    }
    .pin:hover {
        // color: #ab9d23;
    }

    ul {
        margin-left: 0;
        padding-left: 1em;
        list-style: none;
        margin-bottom: 0;
    }
    ul li {
        text-indent: -1em;
    }

    .eligibility {
        color: forestgreen;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 1px dotted currentColor;
    }
    // td:not(:hover) time.late[data-late]::after {
    //     display: none;
    // }
    .globo time {
        width: 4.25em;
    }
    del {
        color: #b63;
    }
    .speculative {
        color: lightslategrey;
    }

    tbody.mirrors {
        th, td {
            border-bottom-width: 0;
        }
        tr.same th, tr.same td {
            border-top-style: dotted;
        }
        tr:not(.same) th, tr:not(.same) td {
            border-top-width: 2px;
        }
        tr:last-of-type th, tr:last-of-type td {
            border-bottom-width: 2px;
        }
    }
}
time {
	font-weight: 500;
	display: inline-block;
	color: darken($brand-color, 18%);
	text-decoration: inherit;
	text-indent: 0;
	// font-variant-numeric: tabular-nums;
	position: relative;
}
table.season time {
	width: 3em;
}
table.summary time {
	color: inherit;
}
time.late[data-late]::after {
	content: attr(data-late);
	display: block;
	position: absolute;
	top: -0.6em;
	font-size: 0.6em;
	color: lighten(#2abf83,6%);
	width: max-content;
	white-space: nowrap;
}

body:not([data-toggle="toggle"]) .toggle {
    display: none;
}
button#collapse {
    font-size: 1em;
    padding: 3px 0;
    width: 10em;
}

dfn {
    font-style: normal;
    font-weight: 600;
    border-bottom: 1px dotted currentColor;
}
.ebol {
    // display: none;
}
.light {
    font-weight: 400;
}

a:link, a:visited {
    color: $brand-color;
}
h3 > a[href^="#"],
h4 > a[href^="#"] {
    color: inherit;
}

.diffdots {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI Symbol",
        "Arial Unicode MS",
        "SF Text",
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}
.◖, .●, .●◖ { color: #059; }
.●●, .●●◖ { color: #892; }
.●●● { color: #812; }
.●●●◖, .●●●●, .●●●●◖, .●●●●● { color: #fa0; }

/*
.region {
    position: relative;
}
.region img.icon {
    max-width: none;
    display: none;
}
.region:hover img.icon {
    display: block;
    position: absolute;
    z-index: 4;
    left: 225px; bottom: 0;
    background: white;
    border: 1px solid #888;
    padding: 8px;
}
*/

details.dropdown {
	display: inline-block;
	position: relative;
}
details.dropdown > summary {
	cursor: pointer;
}
details.dropdown > summary::marker {
	font-family: inherit;
}
details.dropdown > div {
	line-height: 2em;
	background-color: #fdfdfd;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	padding: 0.5em 1em;
	width: max-content;
	z-index: 100;
	position: absolute;
	top: unset;
	right: unset;
}
@media screen and (min-width: 601px) {
	details.dropdown .page-link {
		display: block;
		margin-right: 0 !important;
		margin: 0.5em 0;
	}
}
@media screen and (max-width: 600px) {
	details.dropdown .page-link {
		margin-left: 0 !important;
	}
}
