---
---

$content-width: 100%;
$on-palm : 600px !default;
$on-laptop : 100% !default;

$spacing-unit: 24px;

$base-font-family:
// ".SFNSDisplay-Light",
// ".SFNSText-Light",
-apple-system,
BlinkMacSystemFont,
"SF Text",
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;


$text-color : #000 !default;
$background-color: #fdfdfd !default;
$brand-color : #2a7ae2 !default;

@import "{{ site.theme }}";
@import "fonts.scss";

body {
    text-decoration-skip-ink: none;
}

.site-title {
    letter-spacing: 0px;
}
// .site-header {
//     border-color: $brand-color;
//     background-color: lighten(desaturate($brand-color, 10%), 30%);
// }

table {
    width: auto;

    tr {
        &:nth-child(even) {
            background-color: inherit;
        }
    }
}

table.season {
    width: auto;
    th,
    td {
        vertical-align: top;
    }
    td {
        min-width: 12.5em;
        width: 12.5em; // max-width: 15em;
    }
    th {
        min-width: 12.5em;
        width: 12.5em;
        font-weight: 500;
    }
    .strong td, th.strong {
        font-weight: 900;
    }
    tr {
        &:nth-child(even) {
            background-color: inherit;
        }
    }

    thead, tbody {
        display: block;
    }
    tbody.mirrors {
        // background: #f3f5ff;
        margin: 0.75em 0;
        th {
            // background: darken(#f3f5ff, 3%);

            text-indent: 1em;
        }
        height: 312px;
        /* Just for the demo          */
        overflow-y: auto;
        /* Trigger vertical scroll    */
        overflow-x: hidden;
        /* Hide the horizontal scroll */
    }

    ul {
        margin-left: 0;
        padding-left: 1em;
        list-style: none;
        margin-bottom: 0;
    }
    ul li {
        text-indent: -1em;
    }

    .eligibility {
        color: forestgreen;
        font-weight: 600;
        text-decoration: none;
        border-bottom: 1px dotted currentColor;
    }
    time {
        font-weight: 500;
        display: inline-block;
        width: 3em;
        color: darken($brand-color, 18%);
        text-decoration: inherit;
        text-indent: 0;
        // font-variant-numeric: tabular-nums;
        position: relative;
    }
    td time.late small,
    td:hover time.late small {
        display: block;
    }
    time.late small {
        display: none;
        position: absolute;
        top: -0.6em;
        font-size: 0.6em;
        color: lighten(#2abf83,6%);
        width: max-content;
    }
    .globo time {
        width: 4.25em;
    }
    del {
        color: #b63;
    }
}

body:not([data-toggle="toggle"]) .toggle {
    display: none;
}
button#collapse {
    font-size: 1em;
    padding: 3px 0;
    width: 10em;
}

dfn {
    font-style: normal;
    font-weight: 600;
    border-bottom: 1px dotted currentColor;
}
.ebol {
    // display: none;
}

a:link, a:visited {
    color: $brand-color;
}
