.state-only {
	fill: #ccc;
}

.state-boundary {
	fill: none;
	stroke: #888;
	stroke-linejoin: bevel;
}

.state.selected {
	fill: #ff880033;
	stroke: #000;
}

.state.selected2 {
	stroke: #000;
	stroke-width: 1.75px;
	fill-opacity: 0.7;
	stroke-linejoin: bevel;
}

.region-label {
	font-size: 15px;
	font-weight: 700;
	/*font-family: 'BentonSans', sans-serif;*/
	paint-order: stroke;
	stroke: black;
	fill: white;
	stroke-width: 2.5px;
	stroke-linecap: butt;
	stroke-linejoin: miter;
}
.region-label-region {
	/*font-family: 'BentonSansCond', sans-serif;*/
	font-size: 16px;
	font-weight: 400;
	stroke: none; fill: black;
}
.region-label-id {
	font-size: 11px;
	font-weight: 400;
}
.region-label {
	/*display: none;*/
}


.place-label {
	/*font-size: 10px;*/
	font-size: 11.5px;
	pointer-events: none;
	/* font-weight: 600; */
	font-weight: 300;
	/*font-family: 'BentonSansComp', sans-serif;*/
	/*fill: white;*/
	/*stroke: black;*/
	/* fill: black; stroke: white; */
	fill: black;
	/*stroke-width: 2.5px;*/
	/* stroke-width: 3.5px; */
	/* stroke-width: 6.5px; */
	/* paint-order: stroke; */
}
.place-label-rect {
	fill: white;
	fill-opacity: 0.9;
	stroke: black;
	stroke-width: 1px;
	pointer-events: none;
}
.main .place-label {
	display: none;
}
.main:hover .place-label {
	display: block;
}

.legend .place-label {
	font-size: 14px;
	/*font-family: 'BentonSansCond', sans-serif;*/
}
.legend-label {
	font-size: 19px;
	/*font-family: 'BentonSansCond', sans-serif;*/
}	
.legend-label-medium {
	font-size: 15px;
}
.legend-label-small {
	font-size: 14px;
	fill: #888;
	text-decoration: underline;
	/*font-family: 'BentonSansCond', sans-serif;*/
}

circle.circle-inactive {
	fill: #fff5;
	stroke: #0005;
	stroke-width: 1px;
}
circle.circle-small {
	/*fill: #3dab89d8;*/
	fill: white;
	stroke: black;
	stroke-width: 1px;
}
circle.circle-large {
	/*fill: #fb4880;*/
	fill: white;
	stroke: black;
	stroke-width: 1.5px;
}



rect {
  fill: none;
  pointer-events: all;
}

.sphere {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-opacity: .2;
}

.mesh {
  fill: none;
  stroke: #000;
}

.radius {
	fill: none;
	stroke: black;
	stroke-linecap: round;
	stroke-width: 1.5px;
	stroke-dasharray: 0px 5px;
}
.radius + .radius {
	stroke-dasharray: 0px 15px;
}

.highlight {
	pointer-events: none;
}
circle.highlight {
	/* glowing yellow */
	fill: #ff05;
}
line.highlight {
	stroke: #555b;
	stroke-width: 0.75px;
	stroke-dasharray: 0px 4px 16px 0px;
	stroke-linecap: round;
}
