---
layout: page
---

<div style="font-size: smaller;">{{ content }}</div>

<p>Click the ☆ button next to a region’s name to pin it for when you return to this page.</p>
<p><button id="collapse">Show more rows</button> (or press <kbd>H</kbd>)</p>
<br /><br />


{% for season in site.data.sets[page.year].seasons -%}
<h3 id="{{season.name}}"><a href="#{{season.name}}">{{ season.name }} {{ season.year }}</a></h3>

<table class="season">
<thead>
<tr>
<th>Tournament name</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<th class="strong">
{%- if set.announceurl -%}<a href="{{ set.announceurl }}">{%- endif -%}
{{- set.name -}}
{%- if set.announceurl -%}</a>{%- endif -%}
</th>
{% endfor -%}
</tr>
</thead>

<tbody>
<tr class="toggle">
<th>Full name</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>{{ set.fullname | default: set.name }}</td>
{% endfor -%}
</tr>

<tr class="toggle">
<th>Slot name</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>{{ set.slot }}</td>
{% endfor -%}
</tr>

<tr>
<th>Difficulty <span class="light">(target audience)</span></th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>
{{- set.diff -}}
{%- if set.diffd2 %} (or {% if set.diffd2 == "Medium" %}Med.{% else %}{{ set.diffd2 }}{% endif %} in Div II){% endif %}<br />
<span class="diffdots {{ set.diffdots }}">{{- set.diffdots -}}</span>
{%- if set.diffd2 %} (or <span class="diffdots {{ set.diffdotsd2 }}">{{ set.diffdotsd2 }}</span> in Div II){% endif %}</td>
{% endfor -%}
</tr>

<tr class="toggle">
<th>Eligibility <span class="light">(unless noted)</span></th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>
{{- set.eligible | newline_to_br -}}
</td>
{% endfor -%}
</tr>

<tr class="toggle">
<th>Packet submission</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>
{{- set.submission | newline_to_br -}}
</td>
{% endfor -%}
</tr>

<tr class="toggle">
<th>Example tournaments in this slot in past seasons</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>
<ul>
{% for prev in set.prev -%}
<li>{{ prev }}</li>
{% endfor -%}
</ul>
</td>
{% endfor -%}
</tr>

<tr class="globo toggle">
<th>Announced on</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>
{%- if set.announced -%}
<time datetime="{{ set.announced | date: '%F' }}">{{ set.announced | date: '%-m/%-d/%y' }}</time>
{%- endif -%}
</td>
{% endfor -%}
</tr>

<tr>
<th>First mirror</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}

{% assign firstmirror = set.firstmirror -%}
{% if set.speculative -%}
{% assign firstmirror = nil -%}
{% endif -%}
{% if set.mirrors -%}
{% assign firstmirroractual = set.mirrors | where_exp: "mirror", "mirror.region != '0P'" | where_exp: "mirror", "mirror.date != 'TBD'" | sort: "date" | first -%}
{% if firstmirror == nil or firstmirror > firstmirroractual.date -%}
{% comment %}Warning: overriding original firstmirror{% endcomment -%}
{% assign firstmirror = firstmirroractual.date -%}
{% else -%}
{% comment %}Warning: kept original firstmirror{% endcomment -%}
{% endif -%}
{% endif -%}
{% assign firstonline = set.firstonline -%}
{% if firstonline == nil and set.mirrors -%}
{% assign firstonline = set.mirrors | where_exp: "mirror", "mirror.region == '0P'" | where_exp: "mirror", "mirror.date != 'TBD'" | sort: "date" | first -%}
{% assign firstonline = firstonline.date -%}
{% endif -%}
<td>
{%- if set.speculative -%}
<p><span class="speculative">{{ set.firstmirror }}</span></p>
{%- endif -%}
{%- if firstmirror -%}
{% unless set.speculative -%}
<time datetime="{{ firstmirror | date: '%F' }}">{{ firstmirror | date: '%-m/%-d' }}</time>
{% endunless %}
{%- endif -%}
{%- if firstonline -%}
<br /><time datetime="{{ firstonline | date: '%F' }}">{{ firstonline | date: '%-m/%-d' }}</time> (online playtest)
{%- endif -%}
</td>
{% endfor -%}
</tr>

<tr>
<th>Last mirror</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>
{%- if set.mirrors -%}
{% assign lastmirror = set.mirrors | where_exp: "mirror", "mirror.date != 'TBD'" | sort: "date" | last -%}
<time datetime="{{ lastmirror.date | date: '%F' }}">{{ lastmirror.date | date: '%-m/%-d' }}</time>
{%- endif -%}
</td>
{% endfor -%}
</tr>

<tr class="toggle">
<th>Mirrors</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
{% assign mirrors = set.mirrors | where_exp: "mirror", "mirror.cancelled == nil" -%}
<td>
{%- if set -%}
<strong>{{ mirrors | size }}</strong>
{% assign mappable = mirrors | where_exp: "mirror", "mirror.region != '0P'" %}
{% if mappable.size > 0 -%}
<a class="map" href="/map/?show={% for mirror in mappable %}{{ mirror.name | url_encode }}@{{ mirror.region | url_encode }}{% unless forloop.last %},{% endunless %}{% endfor %}">(see {% if mappable.size < mirrors.size %}{{ mappable | size }} {% endif %}on map)</a>
{% endif -%}
{%- endif -%}
</td>
{% endfor -%}
</tr>
</tbody>

<tbody class="mirrors">
{% assign regions = "0P|Online playtest,0L|Online,1A|New England,1B|New York,2A|N. Mid-Atlantic,2B|S. Mid-Atlantic,3A|Upper South,3B|Deep
South,3C|Florida,4A|Texas/Louisiana,4B|Southwest,5A|S. California,5B|N. California,6A|Pacific Northwest,6B|Rocky Mountains,7A|Great Plains,7B|Missouri,8A|Upper
Midwest,8B|Central Midwest,8C|Eastern Midwest,CA|Canada,UK|UK,AS|Asia" | replace: '
', ' ' | split: ',' -%}
{% assign lst = 0 -%}
{% for region_ in regions -%}
{% assign region = region_ | split: "|" | first -%}
{% assign region_name = region_ | split: "|" | last -%}

{% assign nxt = region | slice: 0, 1 -%}
<tr{% if lst == nxt %} class="same"{% endif %}>
{% assign lst = nxt -%}
<th class="region" title="{{ region }}">
<a class="pin" href="#" data-region="{{ region }}" title="Pin this region">☆</a>
{{ region_name -}}
{% comment -%}
{% if nxt != "0" -%}
<img class="icon" src="../k/College quizbowl circuit map.svg#{{region}}" width="250" />
{%- endif -%}
{% endcomment %}
</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
{% assign mirrors = set.mirrors -%}
{% assign mirrors_region = mirrors | where_exp: "mirror", "mirror.region == region" -%}
{% if mirrors -%}
{% assign firstmirror = mirrors | where_exp: "mirror", "mirror.region != '0P'" | where_exp: "mirror", "mirror.date != 'TBD'" | sort: "date" | first -%}
{% if firstmirror %}{% else -%}
{% assign firstmirror = mirrors[0] -%}
{% endif -%}
{% endif -%}
{% comment %} should probably just use firstmirror here {% endcomment -%}
{% assign firstmirrordate = firstmirror.date | date: '%s' | plus: 0 -%}
{% assign firstmirrorcutoff = firstmirror.date | date: '%s' | plus: 86400 -%}
{% assign lastmirror = mirrors.last.date | date: '%s' | plus: 0 -%}
<td>
{%- if mirrors_region.size > 0 %}
<ul>
{% for mirror in mirrors_region -%}
{% assign mirrordate = mirror.date | date: '%s' | plus: 0 -%}
{% assign dayslate = mirrordate | minus: firstmirrordate | divided_by: 86400 -%}
{% assign weekslate = dayslate | divided_by: 7 -%}
<li>
{%- if mirror.url %}<a href="{{ mirror.url }}">{% endif -%}
{%- if mirror.cancelled %}<del>{% endif -%}
<time datetime="{{ mirror.date | date: '%F' }}"{% if mirrordate >= firstmirrorcutoff %} class="late" title="Late mirror"{% endif %}
{%- if dayslate > 0 %} data-late="
{%- if dayslate >= 7 %}{{ weekslate }}w{% else %}{{ dayslate }}d{% endif %} {% comment %}{% endcomment %}
{{- "++++++++++++++++++++++++++++++++" | slice: 0, weekslate -}}
"{%- endif -%}>
{{- mirror.date | date: '%-m/%-d' -}}
</time> {% comment %}{% endcomment %}
{{- mirror.name }}
{%- if mirror.eligible %} <abbr class="eligibility" title="Eligibility: {{ mirror.eligible }}">{{ mirror.eligible }}</abbr>{% endif -%}
{%- if mirror.cancelled %}</del> <strong>cancelled</strong>{% endif -%}
{%- if mirror.url %}</a>{% endif -%}
</li>
{% endfor -%}
</ul>
{% endif -%}
</td>
{% endfor -%}
</tr>

{% endfor -%}
</tbody>

<tbody>
<tr class="toggle">
<th>Question content is not clear until at least</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>
{%- if set.clear -%}
{% if set.clear contains "" -%}
{{ set.clear -}}
{% else -%}
<time datetime="{{ set.clear | date: '%F' }}">
{{- set.clear | date: '%-m/%-d' -}}
</time>
{%- if set.reallyclear -%}
<strong>confirmed clear</strong>
{% endif -%}
{% endif -%}
{% endif -%}
</td>
{% endfor -%}
</tr>

<tr class="toggle">
<th>Packets on archive?</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>
{%- if set.packetsurl contains "http" -%}
<a href="{{ set.packetsurl }}">{{ season.year }} {{ set.name }} packets</a>
{% else %}
{{- set.packetsurl -}}
{% endif -%}
</td>
{% endfor -%}
</tr>

<!--
<tr class="toggle ebol">
<th>Participating in EBOL?</th>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
<td>
{%- if set.ebol == true -%}
yes
{%- elsif set.ebol == false -%}
no
{%- else -%}
{{- set.ebol -}}
{% endif -%}
</td>
{% endfor -%}
</tr>
-->

</tbody>
</table>
{% endfor -%}
<br /><br />


<h3 id="summary"><a href="#summary">Summary</a></h3>
{% assign scripts = "⁰¹²³⁴⁵⁶⁷⁸⁹" -%}
{% for season in site.data.sets[page.year].seasons -%}
{% assign prevMonth = season.start | date: '%b' %}
{% assign seasonstart = season.start | date: '%s' | plus: 0 -%}
{% assign seasonseconds = 86400 | times: 7 | times: season.weeks -%}
{% assign seasonend   = seasonstart | plus: seasonseconds -%}
{% assign seasonweeks = seasonend | minus: seasonstart | divided_by: 604800 -%}
{% assign seasonweeksplus1 = seasonweeks | plus: 1 -%}

<h4 id="{{ season.name }}-summary"><a href="#{{ season.name }}-summary">{{ season.name }} {{ season.year }}</a></h4>
<table class="summary">
<col span="4" />
{% for weeksafter in (0..seasonweeks) -%}
{% assign secondsafter = weeksafter | times: 604800 -%}
{% assign current = seasonstart | plus: secondsafter -%}
{% assign currentMonth = current | date: '%b' -%}
<col{% if prevMonth != currentMonth %} class="newMonth"{% endif %} />
{% assign prevMonth = currentMonth -%}
{% endfor -%}
<col />
<thead>
<tr>
<th style="width: 12.5em;">Tournament name</th>
<th style="width: 8em;">Difficulty</th>
<th style="width: 3.5em;">Known mirrors</th>

<th>≤</th>
{% for weeksafter in (0..seasonweeks) -%}
{% assign secondsafter = weeksafter | times: 604800 -%}
{% assign current = seasonstart | plus: secondsafter -%}
<th><time datetime="{{ current | date: '%G-W%V' }}"><!-- {{- current | date: '%a' -}} -->
{{- current | date: '%b %-d' -}}
</time></th>
{% endfor -%}
<th>≥</th>
</tr>
</thead>

<tbody>
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
{% unless set -%}
{% continue -%}
{% endunless -%}
<tr>
<th class="strong">
{%- if set.announceurl -%}<a href="{{ set.announceurl }}">{%- endif -%}
{{- set.name -}}
{%- if set.announceurl -%}</a>{%- endif -%}
</th>
<td>
<span class="diffdots {{ set.diffdots }}">{{- set.diffdots -}}</span>
{%- if set.diffd2 %} or <span class="diffdots {{ set.diffdotsd2 }}">{{ set.diffdotsd2 }}</span>{% endif %}</td>
{% assign mirrors = set.mirrors | where_exp: "mirror", "mirror.date != 'TBD'" -%}

{% assign lastmirror = nil -%}
{% assign lastmirrordate = nil -%}
{% assign firstidealmirrordate = set.firstideal | date: "%s" | plus: 0 -%}
{% assign lastidealmirrordate = set.lastideal | date: "%s" | plus: 0 -%}
{% assign firstmirror = set.firstmirror -%}
{% if set.speculative -%}
{% assign firstmirror = nil -%}
{% endif -%}
{% if firstmirror == nil and set.mirrors -%}
{% assign firstmirror = set.mirrors | where_exp: "mirror", "mirror.region != '0P'" | where_exp: "mirror", "mirror.date != 'TBD'" | sort: "date" | first -%}
{% assign firstmirror = firstmirror.date -%}
{% endif -%}
{% if set.mirrors -%}
{% assign lastmirror = set.mirrors | where_exp: "mirror", "mirror.date != 'TBD'" | sort: "date" | last -%}
{% endif -%}
{% assign firstonline = set.firstonline -%}
{% if firstonline == nil and set.mirrors -%}
{% assign firstonline = set.mirrors | where_exp: "mirror", "mirror.region == '0P'" | where_exp: "mirror", "mirror.date != 'TBD'" | sort: "date" | first -%}
{% assign firstonline = firstonline.date -%}
{% endif -%}
{% assign firstmirrordate = firstmirror | date: "%s" | plus: 0 -%}
{% assign firstonlinedate = firstonline | date: "%s" | plus: 0 -%}
{% assign lastmirrordate = firstmirrordate | plus: 86400 -%}
{% if lastmirror and lastmirror.region != '0P' -%}
{% assign lastmirrordate = lastmirror.date | date: "%s" | plus: 0 -%}
{% endif -%}
{% assign cleardate = set.clear | date: "%s" | plus: 0 -%}

<td>{{ mirrors | where_exp: "mirror", "mirror.cancelled == nil" | size }}</td>
{% for weeksafter in (-1..seasonweeksplus1) -%}
{% assign secondsafter = weeksafter | times: 604800 -%}
{% assign current = seasonstart | plus: secondsafter -%}
{% assign nextweek = current | plus: 604800 -%}
{% assign firstweekofseason = forloop.first -%}
{% assign lastweekofseason = forloop.last -%}

{% assign mirrorsthisweek = "" | split: ',' -%}
{% assign mirrorscancelled = "" | split: ',' -%}
{% assign mirrorsexelg = "" | split: ',' -%}
{% assign mirrorsnotsat = "" | split: ',' -%}

{% for mirror in mirrors -%}
{% assign mirrordate = mirror.date | date: '%s' | plus: 0 -%}

{% assign afterstart = firstweekofseason %}{% if mirrordate >= current %}{% assign afterstart = true %}{% endif -%}
{% assign beforeend  = lastweekofseason %}{% if mirrordate < nextweek %}{% assign beforeend = true %}{% endif -%}

{% if afterstart and beforeend -%}
{% if mirror.cancelled -%}
{% assign mirrorscancelled = mirrorscancelled | push: mirror -%}
{% continue -%}
{% endif -%}

{% assign mirrorsthisweek = mirrorsthisweek | push: mirror -%}
{% assign mirrorweekday = mirror.date | date: '%w' -%}
{% if mirrorweekday != '6' -%}
{% assign mirrorsnotsat = mirrorsnotsat | push: mirror -%}
{% endif -%}
{% if mirror.eligible -%}
{% assign mirrorsexelg = mirrorsexelg | push: mirror -%}
{% endif -%}
{% endif -%}
{% endfor -%}
{% assign mirrorsthisweekonline = mirrorsthisweek | where_exp: "mirror", "mirror.region contains '0'" -%}
{% assign mirrorsthisweekcancelled = set.mirror | where_exp: "mirror", "mirror.cancelled == true" -%}

{% assign class = nil -%}
{% if firstidealmirrordate <= current and current <= lastidealmirrordate -%}
{% assign class = "ideal" -%}
{% elsif firstmirrordate <= current and current <= lastmirrordate -%}
{% assign class = "active" -%}
{% elsif current <= firstonlinedate and firstonlinedate < nextweek %}
{% assign class = "playtest" -%}
{% elsif firstweekofseason and firstonlinedate != 0 and firstonlinedate < nextweek -%}
{% assign class = "playtest" -%}
{% endif -%}
{% if current <= cleardate and cleardate < nextweek or lastweekofseason -%}
{% assign class = "clear" -%}
{% endif -%}

<td{% if class %} class="{{ class }}"{% endif %}{% if mirrorsthisweek.size > 0 %} title="
{%- assign mirrorsthisweeksorted = mirrorsthisweek | sort: "region" %}
{%- for mtw in mirrorsthisweeksorted %}{{ mtw.region }}: {{ mtw.name }}
{%- assign mtwd = mtw.date | date: '%w' -%}{%- if mtwd != '6' -%}ª{% endif %}
{%- if mtw.region contains '0' %}º{% endif %}
{%- if mtw.eligible %}˘&#xa;&#x9;{{mtw.eligible}}{% endif %}
{%- if mtwd != '6' or firstweekofseason or lastweekofseason %}&#xa;&#x9;{{ mtw.date | date: '%a, %b %-d' }}{% endif %}
{%- if forloop.last == false %}&#xa;{% endif %}
{%- endfor %}"{% endif %}>
{%- comment %}add symbols after mirror name{% endcomment %}
{%- if mirrorsthisweek.size > 0 -%}
{% if mirrorsthisweek.size > 4 %}<b>{% endif -%}
{{- mirrorsthisweek | size }} {% comment %}{% endcomment %}
{%- if mirrorsthisweek.size > 4 %}</b>{% endif -%}
{% elsif class and current == firstmirrordate -%}
0 {% comment %}{% endcomment %}
{%- endif -%}
{% if mirrorsnotsat.size > 0 -%}
ª{%- if mirrorsnotsat.size > 1 %}{{ scripts | slice: mirrorsnotsat.size, 1 }}{% endif -%}
{%- endif -%}
{%- if mirrorsthisweekonline.size > 0 -%}
º{%- if mirrorsthisweekonline.size > 1 %}{{ scripts | slice: mirrorsthisweekonline.size, 1 }}{%- endif -%}
{%- endif -%}
{% if mirrorscancelled.size > 0 -%}
*{%- if mirrorscancelled.size > 1 %}{{ scripts | slice: mirrorscancelled.size, 1 }}{% endif -%}
{%- endif -%}
{% if mirrorsexelg.size > 0 -%}
˘{%- if mirrorsexelg.size > 1 %}{{ scripts | slice: mirrorsexelg.size, 1 }}{% endif -%}
{%- endif -%}
{%- if current <= cleardate and cleardate < nextweek or lastweekofseason -%}
†
{%- endif -%}
</td>
{% endfor -%}
</tr>

{% endfor -%}

</tbody>
<tfoot>
<tr>
<th>Total mainstream mirrors</span></th>
<th></th>
{% for weeksafter in (-2..seasonweeksplus1) -%}
<th>
{%- assign total = 0 -%}
{% assign secondsafter = weeksafter | times: 604800 -%}
{% assign current = seasonstart | plus: secondsafter -%}
{% assign nextweek = current | plus: 604800 -%}
{% assign firstweekofseason = forloop.first -%}
{% assign lastweekofseason = forloop.last -%}

{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
{% for mirror in set.mirrors -%}
{% assign mirrordate = mirror.date | date: '%s' | plus: 0 -%}

{% assign afterstart = firstweekofseason %}{% if mirrordate >= current %}{% assign afterstart = true %}{% endif -%}
{% assign beforeend  = lastweekofseason %}{% if mirrordate < nextweek %}{% assign beforeend = true %}{% endif -%}
{% comment %}The -2 is a hack to rollup the known mirrors grand total.{% endcomment -%}
{% if weeksafter == -2 or afterstart and beforeend -%}
{% if mirror.cancelled != nil or mirror.date == 'TBD' or mirror.eligible contains 'HS' or mirror.region contains '0' -%}
{% else -%}
{% assign total = total | plus: 1 -%}
{% endif -%}
{% endif -%}
{% endfor -%}
{% endfor -%}

{% if total > 0 %}{{ total }}{% endif -%}
</th>
{% endfor %}
</tr>
</tfoot>
</table>
{% endfor %}

{% assign mirrors = 0 -%}
{% for season in site.data.sets[page.year].seasons -%}
{% for slot_id in season.slots -%}
{% assign set = site.data.sets[page.year][slot_id] -%}
{% if set.mirrors -%}
{% assign cancelledmirrors = set.mirrors | where_exp: "mirror", "mirror.cancelled == true" -%}
{% assign mirrors = mirrors | plus: cancelledmirrors.size -%}
{% endif -%}
{% endfor -%}
{% endfor -%}
<p>Cancelled mirrors this year: {{ mirrors }}</p>

<p>The usual numbers of mainstream mirrors per week are conveyed in
this plot of all such mirrors since Fall 2017 (as of November 2021).</p>
<figure><a href="/college-quizbowl-dates-lg-wh-2022.png"><img src="/college-quizbowl-dates-lg-wh-2022.png" width="300" /></a></figure>

<br /><br />

{% include key.html %}

<script src="{{ base.url | prepend: site.url }}/assets/year.js"></script>
